body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Style for the logo */
.logo img {
  width: 100px;
}

.nav {
  text-align: center; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline; /* Display list items horizontally */
  margin: 0 20px;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

/* Style for the search box */
.search-box {
  text-align: center;
  margin-top: 40px;
}

/* Style for the search oval */
.search-oval {
  display: inline-flex;
  width: fit-content;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 30px;
  margin: 50px auto; 
}

.search-oval input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

/* Style for the search input fields */
.search-oval .search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-oval input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 30%;
  font-size: 14px;
  padding: 10px;
}

button {
  background: #f15454;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 18px;
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-item {
  text-align: center;
}

.filter-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.filter-item p {
  font-size: 14px;
  margin-top: 5px;
}

.filter-item:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

/* Style for gallery rows */
.gallery-row {
  display: flex;
  justify-content: center;
}

/* Style for individual gallery photos */
.gallery-photo {
  margin-top: 2px;
  margin-bottom: 200px;
  margin-left: 12px;
  margin-right: 12px;
}

.gallery-photo img {
  border: 2px solid #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 100%;
}


.image-text {
  text-align: center;
  margin-top: 8px; 
}

.image-text p {
  margin: 5px;
  font-size:12px;
}

